@import url('https://fonts.googleapis.com/css?family=Work+Sans:100&subset=latin-ext');


.black{
	background-color: #000;
	width: 100%;
}
.white{
	background-color: #fff;
	width: 100%;
}
.gray{
	background-color: #666;
	width: 100%;
}
.line-350{
	width: 350px;
	height: 1px;
	background-color: #bbb;
	margin: 10px 0;
}







body{
	background-color: #f1f1f1;
}

.main-header{
	background: url(../img/header-back1.jpg);
}
.main-header-inner{
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
}

.search-box{
	margin: auto;
	position: relative;
	width: 60%;
}

.search-field{
	width: 85%;
	border: 0;
	background-color: rgba(217, 217, 217, 0.7);
	color: #fff;
	font-size: 16px;
	padding: 8px;
	padding-left: 15px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.search-btn{
	position: absolute;
	border: 0;
	color: #fff;
	background-color: #30445C;
	font-size: 16px;
	padding: 8px;
	padding-right: 15px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
/*.teacher-result{
	width: 250px;
}*/
.teacher-result-outer{
	/*border: solid 1px #aaa;*/
	margin: auto;
	padding: 5px;
	margin-bottom: 25px;
    transition: background-color 1s;
}
.teacher-result-outer:hover{
	background-color: #3e5675;
}
.teacher-result-inner{
	/*border: solid 1px #aaa;*/
	margin: auto;
	padding: 5px;
	text-align: center;
	height: 280px;
	background-color: #fff;
}
.teacher-search-img{
	width: 175px;
	height: 175px;
}
.teacher-search-name{
	font-size: 16px;
	color: #223041;
	font-weight: bold;
}


.teacher-search-visit{
 	background-color: #30445C;
	color: #fff;
	padding: 5px 80px;
	display:inline-block;
	vertical-align:middle;
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	box-shadow:0 0 1px rgba(0,0,0,0);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-moz-osx-font-smoothing:grayscale;
	position:relative;
	-webkit-transition-property:color;
	transition-property:color;
	-webkit-transition-duration:.3s;
	transition-duration:.3s
}
.teacher-search-visit:before{
 	content:"";
	position:absolute;
	z-index:-1;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#223041;
	-webkit-transform:scaleY(0);
	transform:scaleY(0);
	-webkit-transform-origin:50% 0;
	transform-origin:50% 0;
	-webkit-transition-property:transform;
	transition-property:transform;
	-webkit-transition-duration:.3s;
	transition-duration:.3s;
	-webkit-transition-timing-function:ease-out;
	transition-timing-function:ease-out
}
.teacher-search-visit:active,.teacher-search-visit:focus,.teacher-search-visit:hover{
	color:#fff;
	text-decoration: none;
}
.teacher-search-visit:active:before,.teacher-search-visit:focus:before,.teacher-search-visit:hover:before{
	-webkit-transform:scaleY(1);
	transform:scaleY(1)
}






/*Profile page*/

.profile-header{
	background-image: url(../img/header-back.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
	width: 100%;
	padding-bottom: 25px;
}
.teacher-profile-img{
	margin: auto;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	background-color: #fff;
	text-align: center;
	margin-top: 60px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
}
/*.teacher-profile-img img{
	height: 200px;
	width: 200px;
}*/
.teacher-profile-bio{
	color: #fff;
}
.course-profile-bio{
	color: #fff;
}

@media only screen and (min-width: 0px) {
    .course-profile-bio{
		margin-top: 30px;
	}
	.teacher-profile-bio{
		margin-top: 30px;
	}
    .main-header-inner{
        height: 200px;
    }
    .search-box{
        top: 80px;
    }
}

@media only screen and (min-width: 700px) {
    .course-profile-bio{
		margin-top: 30px;
	}
	.teacher-profile-bio{
		margin-top: 30px;
	}
    .main-header-inner{
        height: 300px;
    }
    .search-box{
        top: 120px;
    }
}

@media only screen and (min-width: 768px) {
    .course-profile-bio{
		margin-top: 100px;
	}
	.teacher-profile-bio{
		margin-top: 60px;
	}
    .main-header-inner{
        height: 300px;
    }
    .search-box{
        top: 120px;
    }
}


@media only screen and (min-width: 992px) {
    .course-profile-bio{
		margin-top: 100px;
	}
	.teacher-profile-bio{
		margin-top: 60px;
	}
    .main-header-inner{
        height: 350px;
    }
    .search-box{
        top: 140px;
    }
}




.course-profile-bio-name{
	font-weight: bold;
	font-size: 20px;
	padding: 0 5px 0 0;
}
.teacher-profile-bio-name{
	font-weight: bold;
	font-size: 20px;
	padding: 0 5px 0 0;
	border-right: solid 1px #aaa;
}
.teacher-profile-bio-department{
	font-size: 18px;
	padding: 0 0 0 5px;
}
.teacher-profile-bio-email{
	font-size: 16px;
}

.teacher-bio{
	text-align: justify;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 10px;
	border-radius: 6px;
}
.teacher-profile-chart{
	background-color: #fff;
	margin-top: 40px;
	height: 270px;
}
.teacher-profile-chart img{
	height: 270px;
}


.course{
	margin-bottom: 20px;
	padding: 10px 20px;
	background-color: #223041;
	color: #fff;
	display:inline-block;
	vertical-align:middle;
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	box-shadow:0 0 1px rgba(0,0,0,0);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-moz-osx-font-smoothing:grayscale;
	position:relative;
	overflow:hidden
}
.course:before{
	content:"";
	position:absolute;
	z-index:-1;
	left:50%;
	right:50%;
	bottom:0;
	background:#999;
	height:4px;
	-webkit-transition-property:left,right;
	transition-property:left,right;
	-webkit-transition-duration:.3s;
	transition-duration:.3s;
	-webkit-transition-timing-function:ease-out;
	transition-timing-function:ease-out
}
.course:active:before,.course:focus:before,.course:hover:before{
	left:0;
	right:0;
}
.course:active,.course:focus,.course:hover{
	text-decoration: none;
	color: #fff;
}




.forum{
	background-color: #f6f6f6;
}
.forum-bio-img{
	border-radius: 100%;
	height: 60px;
	width: 60px;
	float: left;
	background-color: #fff;
}
.forum-bio-data{
	margin-top: 10px;
	padding-left: 15px;
	float: left;
}
.forum-bio-data-head{
	font-weight: bold;
}



.subject-teacher-logo{
	width: 250px;
}



.admin-box{
    margin:auto;
    margin-top: 150px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}
.admin-h2{
    font-weight: 100;
    font-size: 55px;
    letter-spacing: 25px;
}
.admin-h1{
    font-weight: 100;
    font-size: 100px;
    line-height: 50px;
}

